export(genData)
export(getClusterAssoc)
export(plotResult)
export(Trisfsvd)
importFrom(energy,dcor)
importFrom(energy,dcor.test)
importFrom(irlba,irlba)
importFrom(Matrix,Matrix)
importFrom(Matrix,sparseMatrix)
importFrom(parallel,clusterEvalQ)
importFrom(parallel,clusterExport)
importFrom(parallel,detectCores)
importFrom(parallel,makeCluster)
importFrom(parallel,parLapply)
importFrom(parallel,parLapplyLB)
importFrom(parallel,stopCluster)
importFrom(softImpute,complete)
importFrom(softImpute,softImpute)
importFrom(stats,kmeans)
importFrom(stats,model.matrix)
importFrom(stats,rnorm)
importFrom(utils,head)
